*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8c52ff;
    color: #000000;
    font-size: 16px;
}
img{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div{
    background-color: white;
    width: 500px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 20px;
}

h1{
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #8c52ff;
}

input{
    width: 230px;
    height: 35px;
    border-radius: 15px;
    border-color: #8c52ff;
    text-align: center;
}

input::placeholder {
    color: #8c52ff;
}

button{
    margin-top: 30px;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background-color: #8c52ff;
    font-size: 18px;
    color: white;
    cursor: pointer;
}